<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual_mevion">

  <xacro:include filename="$(find mevion)/models/mevion_dae.urdf.xacro"/>

  <xacro:mevion prefix="RL"/>
  <xacro:mevion prefix="RF"/>
  <xacro:mevion prefix="LL"/>
  <xacro:mevion prefix="LF"/>

  <link name="world"/>

  <joint name="RL_world_joint" type="fixed">
    <parent link="world"/>
    <child link="RL_base_link"/>
    <origin xyz="-0.225 -0.4 0" rpy="0 0 1.5708"/>
  </joint>

  <joint name="RF_world_joint" type="fixed">
    <parent link="world"/>
    <child link="RF_base_link"/>
    <origin xyz="0.225 -0.4 0" rpy="0 0 1.5708"/>
  </joint>

  <joint name="LL_world_joint" type="fixed">
    <parent link="world"/>
    <child link="LL_base_link"/>
    <origin xyz="-0.225 0.4 0" rpy="0 0 -1.5708"/>
  </joint>

  <joint name="LF_world_joint" type="fixed">
    <parent link="world"/>
    <child link="LF_base_link"/>
    <origin xyz="0.225 0.4 0" rpy="0 0 -1.5708"/>
  </joint>

</robot>
